@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,800italic');

body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  line-height: 1.25;
  background: rgba(132,132,120,1);
  color: rgba(47,41,38,1);
  padding-top: 3em;
}

h1 {
  font-size: 3em;
  font-weight: 800;
}

.project {
  margin-bottom: 2em;
}

.project a.wrapping {
  color: rgba(47,41,38,1);
  text-decoration: none;
  display: block;
}

.project h2 {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.1;
}

/*******/
#dynamic-pages .project-page {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 9999999999;
  background-color: rgba(222,222,222,.9);
  overflow-y: auto;
  padding: 3em;
  border: 1em solid gray;
}

#dynamic-pages img {
  width: 100%;
  height: auto;
}

.project-page button.close {
  position: fixed;
  right: 3em;
  top:3em;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background: gray;
  border: none;
}
