@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,800italic');

@font-face {
  font-family: '20_dbregular';
  src: url('ff/20db/20db-webfont.woff2') format('woff2'),
       url('ff/20db/20db-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}

h1 {
  font-family: '20_dbregular', helvetica, arial, sans-serif;
  font-size: 3em;
}

.project {
  height: 390px;
}

#dynamic-pages .project-page {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 9999999999;
  background-color: rgba(222,222,222,.9);
  overflow-y: auto;
  padding: 3em;
  border: 1em solid gray;
}

.project-page button.close {
  position: fixed;
  right: 3em;
  top:3em;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background: gray;
  border: none;
}
