@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,800italic');

body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  line-height: 1.25;
  background: rgba(132,132,120,1);
  color: rgba(47,41,38,1);
  padding-top: 3em;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3em;
  font-weight: 800;
}

.project {
  margin-bottom: 2em;
}

.project a.wrapping {
  color: rgba(47,41,38,1);
  text-decoration: none;
  display: block;
}

.project h2 {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.1;
}

a {
  color: rgba(47,41,38,1);
  text-decoration: none;
}

/*******/
#dynamic-pages .project-page {
  color: white;
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 9999999999;
  background-color: rgba(47,41,38,.9);
  overflow-y: auto;
  padding: 3em;
  border: 1em solid rgba(132,132,120,1);
}

#dynamic-pages img {
  width: 100%;
  height: auto;
}

.project-page button.close {
  position: fixed;
  right: 3em;
  top:3em;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background: rgba(132,132,120,1);
  border: none;
  color: rgba(47,41,38,1);
}

.project-page a {
  color: white;
  text-decoration: underline;
}
.project-page a:hover {
  background: rgba(236, 64, 121, 1);
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin:0;
  padding: 0;
}

/* try to keep body from scrolling in the background */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.inner.pad {
  padding: 1em;
}

img.text, image.video {
  display: none;
}

#about.stripe {
  background: rgba(94, 101, 101, 1);
  padding: 2em 0;
  margin: 2em 0 ;
}
